# **Challenge 3: Alcohol Consumption**

In [1]:
#import libraries
import pandas as pd

In [2]:
#data url
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'

In [3]:
#read in data
data = pd.read_csv(url)
data.head()#preview data

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

# **Questions**

1. Which continent drinks more beer on average?

In [4]:
avg_drinks = data.groupby(by='country')['total_litres_of_pure_alcohol'].mean().sort_values(ascending=False)
avg_drinks

country
Belarus       14.4
Lithuania     12.9
Andorra       12.4
Grenada       11.9
France        11.8
              ...
Maldives       0.0
Kuwait         0.0
Iran           0.0
Bangladesh     0.0
Libya          0.0
Name: total_litres_of_pure_alcohol, Length: 193, dtype: float64

2. For each continent print the statistics for wine consumption.

In [5]:
wine_continent = data[['continent','wine_servings']]
wine_continent

    continent  wine_servings
0          AS              0
1          EU             54
2          AF             14
3          EU            312
4          AF             45
..        ...            ...
188        SA              3
189        AS              1
190        AS              0
191        AF              4
192        AF              4

[193 rows x 2 columns]

In [6]:
for i in range(len(wine_continent)):
  print(wine_continent.iloc[[i]])

  continent  wine_servings
0        AS              0
  continent  wine_servings
1        EU             54
  continent  wine_servings
2        AF             14
  continent  wine_servings
3        EU            312
  continent  wine_servings
4        AF             45
  continent  wine_servings
5       NaN             45
  continent  wine_servings
6        SA            221
  continent  wine_servings
7        EU             11
  continent  wine_servings
8        OC            212
  continent  wine_servings
9        EU            191
   continent  wine_servings
10        EU              5
   continent  wine_servings
11       NaN             51
   continent  wine_servings
12        AS              7
   continent  wine_servings
13        AS              0
   continent  wine_servings
14       NaN             36
   continent  wine_servings
15        EU             42
   continent  wine_servings
16        EU            212
   continent  wine_servings
17       NaN              8
   continent  wine_servings
18        AF             13
   continent  wine_servings
19        AS              0
   continent  wine_servings
20        SA              8
   continent  wine_servings
21        EU              8
   continent  wine_servings
22        AF             35
   continent  wine_servings
23        SA             16
   continent  wine_servings
24        AS              1
   continent  wine_servings
25        EU             94
   continent  wine_servings
26        AF              7
   continent  wine_servings
27        AF              0
   continent  wine_servings
28        AF              7
   continent  wine_servings
29        AF             16
   continent  wine_servings
30        AS              1
   continent  wine_servings
31        AF              4
   continent  wine_servings
32       NaN            100
   continent  wine_servings
33        AF              1
   continent  wine_servings
34        AF              1
   continent  wine_servings
35        SA            172
   continent  wine_servings
36        AS              8
   continent  wine_servings
37        SA              3
   continent  wine_servings
38        AF              1
   continent  wine_servings
39        AF              9
   continent  wine_servings
40        OC             74
   continent  wine_servings
41       NaN             11
   continent  wine_servings
42        EU            254
   continent  wine_servings
43       NaN              5
   continent  wine_servings
44        EU            113
   continent  wine_servings
45        EU            134
   continent  wine_servings
46        AS              0
   continent  wine_servings
47        AF              1
   continent  wine_servings
48        EU            278
   continent  wine_servings
49        AF              3
   continent  wine_servings
50       NaN             26
   continent  wine_servings
51       NaN              9
   continent  wine_servings
52        SA              3
   continent  wine_servings
53        AF              1
   continent  wine_servings
54       NaN              2
   continent  wine_servings
55        AF            233
   continent  wine_servings
56        AF              0
   continent  wine_servings
57        EU             59
   continent  wine_servings
58        AF              0
   continent  wine_servings
59        OC              1
   continent  wine_servings
60        EU             97
   continent  wine_servings
61        EU            370
   continent  wine_servings
62        AF             59
   continent  wine_servings
63        AF              1
   continent  wine_servings
64        EU            149
   continent  wine_servings
65        EU            175
   continent  wine_servings
66        AF             10
   continent  wine_servings
67        EU            218
   continent  wine_servings
68       NaN             28
   continent  wine_servings
69       NaN              2
   continent  wine_servings
70        AF              2
   continent  wine_servings
71        AF             21
   continent  wine_servings
72        SA              1
   continent  wine_servings
73       NaN              1
   continent  wine_servings
74       NaN              2
   continent  wine_servings
75        EU            185
   continent  wine_servings
76        EU             78
   continent  wine_servings
77        AS              0
   continent  wine_servings
78        AS              0
   continent  wine_servings
79        AS              0
   continent  wine_servings
80        AS              0
   continent  wine_servings
81        EU            165
   continent  wine_servings
82        AS              9
   continent  wine_servings
83        EU            237
   continent  wine_servings
84       NaN              9
   continent  wine_servings
85        AS             16
   continent  wine_servings
86        AS              1
   continent  wine_servings
87        AS             12
   continent  wine_servings
88        AF              2
   continent  wine_servings
89        OC              1
   continent  wine_servings
90        AS              0
   continent  wine_servings
91        AS              6
   continent  wine_servings
92        AS            123
   continent  wine_servings
93        EU             62
   continent  wine_servings
94        AS             31
   continent  wine_servings
95        AF              0
   continent  wine_servings
96        AF              2
   continent  wine_servings
97        AF              0
   continent  wine_servings
98        EU             56
   continent  wine_servings
99        EU            271
    continent  wine_servings
100        AF              4
    continent  wine_servings
101        AF              1
    continent  wine_servings
102        AS              0
    continent  wine_servings
103        AS              0
    continent  wine_servings
104        AF              1
    continent  wine_servings
105        EU            120
    continent  wine_servings
106        OC              0
    continent  wine_servings
107        AF              0
    continent  wine_servings
108        AF             18
    continent  wine_servings
109       NaN              5
    continent  wine_servings
110        OC             18
    continent  wine_servings
111        EU              0
    continent  wine_servings
112        AS              8
    continent  wine_servings
113        EU            128
    continent  wine_servings
114        AF             10
    continent  wine_servings
115        AF              5
    continent  wine_servings
116        AS              0
    continent  wine_servings
117        AF              1
    continent  wine_servings
118        OC              8
    continent  wine_servings
119        AS              0
    continent  wine_servings
120        EU            190
    continent  wine_servings
121        OC            175
    continent  wine_servings
122       NaN              1
    continent  wine_servings
123        AF              1
    continent  wine_servings
124        AF              2
    continent  wine_servings
125        OC              7
    continent  wine_servings
126        EU            129
    continent  wine_servings
127        AS              1
    continent  wine_servings
128        AS              0
    continent  wine_servings
129        OC             23
    continent  wine_servings
130       NaN             18
    continent  wine_servings
131        OC              1
    continent  wine_servings
132        SA             74
    continent  wine_servings
133        SA             21
    continent  wine_servings
134        AS              1
    continent  wine_servings
135        EU             56
    continent  wine_servings
136        EU            339
    continent  wine_servings
137        AS              7
    continent  wine_servings
138        AS              9
    continent  wine_servings
139        EU             18
    continent  wine_servings
140        EU            167
    continent  wine_servings
141        AS             73
    continent  wine_servings
142        AF              0
    continent  wine_servings
143       NaN             32
    continent  wine_servings
144       NaN             71
    continent  wine_servings
145       NaN             11
    continent  wine_servings
146        OC             24
    continent  wine_servings
147        EU              0
    continent  wine_servings
148        AF            140
    continent  wine_servings
149        AS              0
    continent  wine_servings
150        AF              7
    continent  wine_servings
151        EU            127
    continent  wine_servings
152        AF             51
    continent  wine_servings
153        AF              2
    continent  wine_servings
154        AS             11
    continent  wine_servings
155        EU            116
    continent  wine_servings
156        EU            276
    continent  wine_servings
157        OC              1
    continent  wine_servings
158        AF              0
    continent  wine_servings
159        AF             81
    continent  wine_servings
160        EU            112
    continent  wine_servings
161        AS              0
    continent  wine_servings
162        AF              0
    continent  wine_servings
163        SA              7
    continent  wine_servings
164        AF              2
    continent  wine_servings
165        EU            186
    continent  wine_servings
166        EU            280
    continent  wine_servings
167        AS             16
    continent  wine_servings
168        AS              0
    continent  wine_servings
169        AS              1
    continent  wine_servings
170        EU             86
    continent  wine_servings
171        AS              4
    continent  wine_servings
172        AF             19
    continent  wine_servings
173        OC              5
    continent  wine_servings
174       NaN              7
    continent  wine_servings
175        AF             20
    continent  wine_servings
176        AS              7
    continent  wine_servings
177        AS             32
    continent  wine_servings
178        OC              9
    continent  wine_servings
179        AF              0
    continent  wine_servings
180        EU             45
    continent  wine_servings
181        AS              5
    continent  wine_servings
182        EU            195
    continent  wine_servings
183        AF              1
    continent  wine_servings
184       NaN             84
    continent  wine_servings
185        SA            220
    continent  wine_servings
186        AS              8
    continent  wine_servings
187        OC             11
    continent  wine_servings
188        SA              3
    continent  wine_servings
189        AS              1
    continent  wine_servings
190        AS              0
    continent  wine_servings
191        AF              4
    continent  wine_servings
192        AF              4


3. Print the mean alcohol consumption per continent for every column.

In [7]:
avg_drinks_cont = data.groupby(by='continent')['total_litres_of_pure_alcohol'].mean()
avg_drinks_cont

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

In [8]:
for i in range(len(avg_drinks_cont)):
  print(avg_drinks_cont.iloc[[i]])

continent
AF    3.007547
Name: total_litres_of_pure_alcohol, dtype: float64
continent
AS    2.170455
Name: total_litres_of_pure_alcohol, dtype: float64
continent
EU    8.617778
Name: total_litres_of_pure_alcohol, dtype: float64
continent
OC    3.38125
Name: total_litres_of_pure_alcohol, dtype: float64
continent
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

4. Print the median alcohol consumption per continent for every column.

In [9]:
med_drinks_cont = data.groupby(by='continent')['total_litres_of_pure_alcohol'].median()
med_drinks_cont

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

In [10]:
for i in range(len(med_drinks_cont)):
  print(med_drinks_cont.iloc[[i]])

continent
AF    2.3
Name: total_litres_of_pure_alcohol, dtype: float64
continent
AS    1.2
Name: total_litres_of_pure_alcohol, dtype: float64
continent
EU    10.0
Name: total_litres_of_pure_alcohol, dtype: float64
continent
OC    1.75
Name: total_litres_of_pure_alcohol, dtype: float64
continent
SA    6.85
Name: total_litres_of_pure_alcohol, dtype: float64